<div>
  <h1>My Completed Projects</h1>
  <div id='project-area'></div>
  <% if @completed_projects.any? %>
    <% @completed_projects.each do |project| %>
      <div class='card'>
        <p class='no-image-title'><%= project.title %></p>
        <% if project.completed_date %>
          <p class='project-date'>Completed on <%= project.completed_date.strftime("%m/%d/%Y") %></p>
          <% end %>
        <%= link_to profile_developer_path(project.developer) do %>
          <p class='project-developer'>Developer: <span class='name'><%= project.developer.first_name %> <%= project.developer.last_name %></span></p>
        <% end %>
        <p class='cost'>Cost: $<%= project.cost %></p>
        <% if project.technologies.any? %>
          <div class='tags'>
            <% project.technologies.each do |technology| %>
              <figure class='tech tag'><%= technology.name %></figure>
            <% end %>
          </div>
        <% end %>
        <% if project.topics.any? %>
          <div class='tags'>
            <% project.topics.each do |topic| %>
              <figure class='topic tag'><%= topic.name %></figure>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>