<!-- conv with a particular dev -->
<% conversations_with_one_developer.each do |conversation| %>
  <div class="conversation">
    <% if conversation.initiated_by == "Customer" %>
      <h4><%= conversation.customer.first_name %> <%= conversation.customer.last_name %></h4>
      <p><%= conversation.body %></p>
      <p><%= conversation.created_at.strftime("%m/%d/%Y at %l:%M %p") %></p>
    <% else %>
      <h4><%= conversation.developer.first_name %> <%= conversation.developer.last_name %></h4>
      <p><%= conversation.body %></p>
      <p><%= conversation.created_at.strftime("%m/%d/%Y at %l:%M %p") %></p>
    <% end %>
  </div>
<% end %>


