<div>
  <h1>My Current Projects</h1>
  <div id='project-area'></div>
  <% if @current_projects.any? %>
    <% @current_projects.each do |project| %>
      <div class='card col-md-6'>
        <div class='no-image-title'><%= project.title %></div>
        <div class='text'>
          <p class='project-date'>Assigned on <%= project.assigned_date.strftime("%m/%d/%Y") %></p>
          <%= link_to profile_developer_path(project.developer) do %>
            <p class='project-developer'>Assigned to <span class='name'><%= project.developer.first_name %> <%= project.developer.last_name %></span></p>
          <% end %>
          <p class='cost'>Cost: $<%= project.cost %></p>
          <% if project.technologies.any? %>
            <div class='tags'>
              <% project.technologies.each do |technology| %>
                <figure class='tech tag'><%= technology.name %></figure>
              <% end %>
            </div>
          <% end %>
          <% if project.topics.any? %>
            <div class='tags'>
              <% project.topics.each do |topic| %>
                <figure class='topic tag'><%= topic.name %></figure>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
