<div>
  <!-- Profile Tab -->
  <%= image_tag "default-avatar.png" %>
  <div class="show-field"><strong><%= @customer.first_name %> <%= @customer.last_name %></strong></div>
  <% if current_developer %>
     <%= link_to "message me", new_conversation_path, class: "message-button", remote: true %>
     <%= render "conversations/message_form" %>
  <% end %>
  <div class="show-field"><%= @customer.bio %></div>
  <div class="show-field"><%= @customer.zipcode %></div>
</div>
<% if @customer == current_customer %>
  <%= link_to 'Edit', edit_customer_path(@customer) %>
<% end %>
