<!-- Profile Tab -->
<div class='profile'>
  <%= image_tag @customer.avatar_url %>
</div>
<p class="no-card-title"><%= @customer.first_name %> <%= @customer.last_name %></p>
<% if current_developer %>
 <%= link_to "message me", new_conversation_path, class: "message-button", remote: true %>
 <%= render "conversations/message_form" %>
<% end %>
<p class="profile-bio"><%= @customer.bio %></p>
<% if @customer == current_customer %>
  <%= button_to 'Edit profile', edit_customer_path(@customer), method: :get, class: "button-shape green-button" %>
<% end %>


