<div>
  <!-- Profile Tab -->
  <%= image_tag "default-avatar.png" %>
  <div class="show-field"><strong><%= @customer.first_name %> <%= @customer.last_name %></strong></div>
  <div class="show-field"><%= @customer.bio %></div>
  <div class="show-field"><%= @customer.zipcode %></div>
</div>
<% if @customer == current_customer %>
  <%= link_to 'Edit', edit_customer_path(@customer) %>
<% end %>