<div class='profile'>
  <!-- Profile Tab -->
  <%= image_tag "default-avatar.png" %>
  <p class="profile-name"><%= @customer.first_name %> <%= @customer.last_name %></p>
  <p class="profile-bio"><%= @customer.bio %></p>
  <p class="profile-zipcode"><%= @customer.zipcode %></p>
</div>
<% if @customer == current_customer %>
  <%= button_to 'Edit', edit_customer_path(@customer), method: :get, class: "button-shape green-button" %>
<% end %>