<%= form_for(@customer) do |f| %>

  <div class="form_field"><%= label_tag(:first_name, "First name") %>
  <%= f.text_field :first_name, placeholder: current_customer.first_name %></div>
  <div class="form_field"><%= label_tag(:last_name, "Last name") %>
  <%= f.text_field :last_name, placeholder: current_customer.last_name %></div>
  <div class="form_field"><%= label_tag(:tagline, "Tagline") %>
  <%= f.text_field :tagline, placeholder: current_customer.tagline %></div>
  <div class="form_field"><%= label_tag(:bio, "Bio") %>
  <%= f.text_area :bio, placeholder: current_customer.bio %></div>
  <div class="form_field"><%= label_tag(:zipcode, "Zipcode") %>
  <%= f.text_field :zipcode, placeholder: current_customer.zipcode %></div>

  <%= f.submit %>
<% end %>