<div>
  <h1>My Unassigned Projects</h1>
  <% if @unassigned_projects.any? %>
    <% i = 0 %>
    <% @unassigned_projects.each do |project| %>
      <article class="<%= i %> unassigned_projects">
        <div class="image"><img src="./default-avatar.png"></div>
        <div>
          <%=  project.title %>
        </div>
        <div>
          <% if project.technologies.any? %>
            Technologies:
            <% project.technologies.each do |technology| %>
              <%= technology.name %>
            <% end %>
          <% end %>
        </div>
        <div>
          <% if project.topics.any? %>
            Topics:
            <% project.topics.each do |topic| %>
              <%= topic.name %>
            <% end %>
          <% end %>
        </div>
        <div>
          Cost:
          $ <%= project.cost %>
        </div>
        <div>
          Created at:
          <%= project.created_at.strftime("%m/%d/%Y") %>
        </div>
        <!-- @TODO: convert this to a button -->
        <%= link_to "More details", project_path(project) %>
      </article><br>
    <% i += 1 %>
    <% end %>
    <article class="float-right">
      <h1> Matching Developers </h1>
      <div class="developer_details">
        <% if @top_unique_matching_three.any? %>
          <% @top_unique_matching_three.each do |developer| %>
            <article>
              <div class="image"><img src="./default-avatar.png"></div>
              <div>
                <h3><%=  developer.first_name %> <%=  developer.last_name %></h3>
              </div>
              <div>
                <% if developer.technologies.any? %>
                  <h4>Technologies:</h4>
                  <% developer.technologies.each do |technology| %>
                    <%= technology.name %>,
                  <% end %>
                <% end %>
              </div>
              <div>
                <% if developer.topics.any? %>
                  <h4>Topics:</h4>
                  <% developer.topics.each do |topic| %>
                    <%= topic.name %>,
                  <% end %>
                <% end %>
              </div>
              <div>
                <p>Created at: <%= developer.created_at.strftime("%m/%d/%Y") %></p>
              </div>
            </article>
          <% end %>
        <% else %>
          <p>No matching developers. We are waiting for matching developers to sign up!</p>
        <% end %>
      </div>
    </article>
  <% else %>
    <p>You have no unassigned projects!</p>
  <% end %>
</div>