<div id='unassigned'>
  <div class='col-md-6'>
    <h1>My Unassigned Projects</h1>
    <% if @unassigned_projects.any? %>
      <% i = 0 %>
      <% @unassigned_projects.each do |project| %>
        <div class="card">
          <p class='no-image-title'><%=  project.title %>
          <div class='text'>
            <% if project.technologies.any? %>
              <div class='tags'>
                <% project.technologies.each do |technology| %>
                  <figure class='tech tag'><%= technology.name %></figure>
                <% end %>
              </div>
            <% end %>
            <% if project.topics.any? %>
              <div class='tags'>
                <% project.topics.each do |topic| %>
                  <figure class='topic tag'><%= topic.name %></figure>
                <% end %>
              </div>
            <% end %>
            <p class='date'>Created at: <%= project.created_at.strftime("%m/%d/%Y") %></p>
            <p class='cost'>Cost: $ <%= project.cost %></p>
            <a href="#"><div class= "<%= i %> get-developers">Match developers</div></a>
          </div>
        </div>
      <% i += 1 %>
      <% end %>
    <% else %>
      <p>You have no unassigned projects!</p>
    <% end %>
  </div>

  <div class="col-md-6">
    <h1> Matching Developers </h1>
    <div class="developer_details">
      <% if @top_unique_matching_three.any? %>
        <% @top_unique_matching_three.each do |developer| %>
          <div class='card'>
            <%= image_tag "default-avatar.png" %>
            <p class='title'><%=  developer.first_name %> <%=  developer.last_name %></p>
            <div class='text'>
              <p class='tagline'><%= developer.tagline %></p>
              <% if developer.technologies.any? %>
                <div class='tags'>
                  <% developer.technologies.each do |technology| %>
                    <figure class='tech tag'><%= technology.name %></figure>
                  <% end %>
                </div>
              <% end %>
              </div>
              <% if developer.topics.any? %>
                <div class='tags'>
                  <% developer.topics.each do |topic| %>
                    <figure class='topic tag'><%= topic.name %></figure>
                  <% end %>
                </div>
              <% end %>
              <p class='date'>Created at: <%= developer.created_at.strftime("%m/%d/%Y") %></p>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No matching developers. We are waiting for matching developers to sign up!</p>
      <% end %>
    </div>
  </div>
</div>