    <% if @top_unique_matching_three.any? %>
        <% @top_unique_matching_three.each do |developer| %>
          <article>
            <%= image_tag "default-avatar.png" %>
            <div>
              <h3><%=  developer.first_name %> <%=  developer.last_name %></h3>
            </div>
            <div>
              <% if developer.technologies.any? %>
                <h4>Technologies:</h4>
                <% developer.technologies.each do |technology| %>
                <%= technology.name %>,
                <% end %>
              <% end %>
            </div>
            <div>
              <% if developer.topics.any? %>
                <h4>Topics:</h4>
                <% developer.topics.each do |topic| %>
                <%= topic.name %>,
                <% end %>
              <% end %>
            </div>
            <div>
              <p>Member since:<%= developer.created_at.strftime("%m/%d/%Y") %></p>
            </div>
          </article>
        <% end %>
    <% else %>
      <p>No matching developers. We are waiting for matching developers to sign up!</p>
    <% end %>
