      <% if @top_unique_matching_three.any? %>
        <% @top_unique_matching_three.each do |developer| %>
        <%= link_to profile_developer_path(developer) do %>
          <div class='card interior'>
            <%= image_tag developer.avatar_url %>
            <p class='dev-title'><%=  developer.first_name %> <%=  developer.last_name %></p>
            <div class='text'>
              <p class='tagline'><%= developer.tagline %></p>
              <p class='date'>Member since <%= developer.created_at.strftime("%m/%d/%Y") %></p>
              <% if developer.technologies.any? %>
                <div class='tags'>
                  <% developer.technologies.each do |technology| %>
                    <figure class='tech tag'><%= technology.name %></figure>
                  <% end %>
                </div>
              <% end %>
              </div>
              <% if developer.topics.any? %>
                <div class='tags'>
                  <% developer.topics.each do |topic| %>
                    <figure class='topic tag'><%= topic.name %></figure>
                  <% end %>
                </div>
              <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p>No matching developers. We are waiting for matching developers to sign up!</p>
      <% end %>
