<div>
  <h1>Welcome, <%= current_customer.first_name %></h1>
</div>
  <%= link_to "Create a project", new_project_path %>
  <div id="tabs" class="<%= current_customer.id %>">
    <ul>
      <li><a href="#unassigned">Unassigned</a></li>
      <li><a href="#current">Current Projects</a></li>
      <li><a href="#completed">Completed</a></li>
      <li><a href="#requests">Requests</a></li>
      <li><a href="#profile">Profile</a></li>
      <li><a href="#conversations">Inbox</a></li>
    </ul>
    <div id="unassigned">
     <%= render "unassigned" %>
    </div>
    <div id="current">
      <%= render 'current' %>
    </div>
    <div id="completed">
      <%= render "completed" %>
    </div>
    <div id="requests">
     <%= render "requests" %>
    </div>
    <div id="profile">
     <%= render "profile" %>
    </div>
    <div id="conversations">
      <p>this is a chat room for you and <%= %></p>
      <%= render "conversations" %>
    </div>
  </div>
</div>
