<!DOCTYPE html>
<html>
<head>
  <title>MeetTheNeed</title>
  <%= stylesheet_link_tag    "//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
</head>
<body>
  <header>
    <% if developer_signed_in? %>
    Logged in as <strong><%= current_developer.email %></strong>.
      <%= link_to 'Edit Account', edit_developer_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_developer_session_path, method: :delete, :class => 'navbar-link'  %> |
      <%= link_to "Dashboard", @developer %>
    <% elsif customer_signed_in? %>
      Logged in as <strong><%= current_customer.email %></strong>.
      <%= link_to 'Edit Account', edit_customer_registration_path, :class => 'navbar-link' %> |
      <%= link_to "Logout", destroy_customer_session_path, method: :delete, :class => 'navbar-link'  %> |
      <%= link_to "Dashboard", customer_path %>
    <% else %>
    <%= link_to "Customer signup", new_customer_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Customer Login", new_customer_session_path, :class => 'navbar-link'  %> | 
    <%= link_to "Developer signup", new_developer_registration_path, :class => 'navbar-link'  %> |
    <%= link_to "Developer login", new_developer_session_path, :class => 'navbar-link'  %>
    <% end %>
  </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
