<% find_msg_customers.each do |customer| %>
  <% @conversations_with_one_customer = Customer.find(customer.id).conversations %>
  <% p @conversations_with_one_customer %>
  <div>
    <h3>Your messaging History with <%= customer.first_name %></h3> <p><%= link_to "see history", developers_path, :class => "msg-history" %></p>
    <div class="message-thread">
      <%= render partial: "conversation_thread", locals: { conversations_with_one_customer: @conversations_with_one_customer } %>
      <div class="new-conversation-inside-inbox">
        <%= form_for @conversation, method: "create" do |f| %>
          <%= f.text_area :body %>
          <%= f.hidden_field :developer_id, value: current_developer.id %>
          <%= f.hidden_field :initiated_by, value: "Customer" %>
          <%= f.hidden_field :customer_id, value: customer.id %>
          <%= f.submit "Create message"%>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
