<div>
	<h1>My Current Projects</h1>
	<div id='project-area'></div>
	<% if @current_projects.any? %>
		<% @current_projects.each do |project| %>

<div class='card col-md-6'>
        <div class='no-image-title'><%= project.title %></div>
        <div class='text'>
          <p class='project-date'>Assigned on <%= project.assigned_date.strftime("%m/%d/%Y") %></p>
          <%= link_to profile_customer_path(project.project-customer) do %>
            <p class='project-customer'>Requested by <span class='name'><%= project.customer.first_name %> <%= project.customer.last_name %></span></p>
          <%= link_to 'Request Review', review_requests_path(project.id), method: :post %>
          <p class='cost'>Cost: $<%= project.cost %></p>
          <% if project.technologies.any? %>
            <div class='tags'>
              <% project.technologies.each do |technology| %>
                <figure class='tech tag'><%= technology.name %></figure>
              <% end %>
            </div>
          <% end %>
          <% if project.topics.any? %>
            <div class='tags'>
              <% project.topics.each do |topic| %>
                <figure class='topic tag'><%= topic.name %></figure>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
          <% end %>
      

			<div class='project'>
				<div class='project-title'><%= project.title %></div>
				<div class='project-date'><%= project.assigned_date.strftime("%m/%d/%Y") %></div>
				<div class='project-customer'><%= project.customer.first_name %></div>
				<div class='cost'>$<%= project.cost %></div>
				<%= link_to 'Request Review', review_requests_path(project.id), method: :post %>
			</div>
		<% end %>
	<% end %>
</div>
