<div>
	<h1>My Current Projects</h1>
	<div id='project-area'></div>
	<% if @current_projects.any? %>
		<% @current_projects.each do |project| %>
			<div class='card col-md-6 interior'>
        <%= link_to project_path(project) do %>
          <div class='card-no-image-title'><%= project.title %></div>
        <% end %>
        <%= link_to profile_customer_path(project.customer_id) do %>
          <p class='project-customer'>Requested by <span class='name'><%= project.customer.first_name %> <%= project.customer.last_name %></span></p>
        <% end %>
        <p class='date'>Assigned <%= project.assigned_date.strftime("%m/%d/%Y") %></p>
        <p class='cost'>Cost: $<%= project.cost %></p>
        <% if project.technologies.any? %>
          <div class='tags'>
          <% project.technologies.each do |technology| %>
            <figure class='tech tag'><%= technology.name %></figure>
          <% end %>
          </div>
        <% end %>
        <% if project.topics.any? %>
          <div class='tags'>
          <% project.topics.each do |topic| %>
            <figure class='topic tag'><%= topic.name %></figure>
          <% end %>
          </div>
        <% end %>
        <%= button_to 'Request Review', review_requests_path(project.id), class: "button-shape green-button" %>
      </div>
		<% end %>
	<% end %>
</div>
