<div>
	<h1> My Profile </h1>
	<!-- Profile Tab -->
	<!-- @Todo: Add a profile image -->
	<div class="show-field"><%= current_developer.first_name %> <%= current_developer.last_name %></div>
	<div class="show-field"><%= current_developer.tagline %></div>
	<div class="show-field"><%= current_developer.bio %></div>
	<div class="show-field"><%= current_developer.zipcode %></div>
	<% if current_developer.technologies.any? %>
		<div class="show-field">
			<h3>Technologies</h3>
			<ul>
				<% current_developer.technologies.each do |technology| %>
					<li><%= technology.name %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<% if current_developer.topics.any? %>
		<div class="show-field">
			<h3>Topics</h3>
			<ul>
				<% current_developer.topics.each do |topic| %>
						<li><%= topic.name %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
</div>
<%= link_to 'Edit', edit_developer_path(@developer) %>