<%= form_for(@developer) do |f| %>

	<section class='col-md-6'>
		<div class="form-field"><%= label_tag(:first_name, "First name") %>
		<%= f.text_field :first_name, placeholder: current_developer.first_name %></div>
		<div class="form-field"><%= label_tag(:last_name, "Last name") %>
		<%= f.text_field :last_name, placeholder: current_developer.last_name %></div>
		<div class="form-field"><%= label_tag(:tagline, "Tagline") %>
		<%= f.text_field :tagline, placeholder: current_developer.tagline %></div>
		<div class="form-field"><%= label_tag(:bio, "Bio") %></div>
		<div class="form-field"><%= f.text_area :bio, placeholder: current_developer.bio %></div>
		<div class="form-field"><%= label_tag(:zipcode, "Zipcode") %>
		<%= f.text_field :zipcode, placeholder: current_developer.zipcode %></div>
	</section>
	<section class='col-md-6'> <!-- Sets right-column for adding/deleting tags -->
		<section class='col-md-12'> <!-- Sets container for currently selected -->
			<% if @developer.technologies.any? %>
				<section class='selected-technologies col-md-6'>
					<h3>My technologies</h3>
					<% @developer.technologies.each do |technology| %>
						<p><figure class='tech tag'><%= technology.name %></figure>
						<figure class='add-minus tag'>-</figure></p>
					<% end %>
				</section>
			<% end %>

			<% if @developer.topics.any? %>
				<section class='selected-topics'>
					<h3>My topics</h3>
					<% @developer.topics.each do |topic| %>
						<p><figure class='topic tag'><%= topic.name %></figure>
						<figure class='add-minus tag'>-</figure></p>
					<% end %>
				</section>
			<% end %>
		</section>
		<section class='col-md-12'>
			<section class='col-md-6'>
				<h3>Add more technologies</h3>
				<% if @unselected_tech.any? %>
					<% @unselected_tech.each do |tech| %>
					<p><figure class='tech tag'><%= technology.name %></figure>
					<figure class='add-minus tag'>+</figure></p>
					<% end %>
				<% else %>
					<p>Oops! All available technologies selected.</p>
				<% end %>
			</section>
			<section class='col-md-6'>
			<h3>Add more topics</h3>
			<% if @unselected_topics.any? %>
				<% @unselected_topics.each do |topic| %>
				<p><figure class='topic tag'><%= topic.name %></figure>
				<figure class='add-minus tag'>+</figure></p>
				<% end %>
			<% else %>
				<p>Oops! All available technologies selected.</p>
			<% end %>
			</section>
		</section>
	</section>
	<!-- @TODO: display all technologies/topics in own checkboxes; add ability to edit with them filled out with current selections -->
	<!-- @TODO: fix routes for adding and deleting technologies -->

	<div class="form_field"><%= label_tag(:technologies, "Technologies") %>
		<% Technology.all.each do |technology| %>
			<div><%= technology.name %> |
			<% if current_developer.technologies.include?(Technology.find(technology.id)) %>
				<%= link_to "Delete", 'developer_technologies#destroy' %>
			<% else %>
				<%= link_to "Add", new_developer_technology_path%>
			<% end %>
		<% end %>
	</div>

	<!-- @TODO: display all technologies/topics in own checkboxes; add ability to edit with them filled out with current selections -->
	<!-- @TODO: fix routes for adding and deleting topics -->

	<div class="form_field"><%= label_tag(:topics, "Topics") %>
		<% Topic.all.each do |topic| %>
		<div>
			<%= topic.name %> |
			<% if current_developer.topics.include?(Topic.find(topic.id)) %>
				<%= link_to "Delete", 'developer_topics#destroy' %>
			<% else %>
				<%= link_to "Add", new_developer_topic_path%>
			<% end %>
		</div>

		<% end %>
	</div>

	<%= f.submit %>
<% end %>