<%= form_for(@developer) do |f| %>

	<div class="form_field"><%= label_tag(:first_name, "First name") %>
	<%= f.text_field :first_name, placeholder: current_developer.first_name %></div>
	<div class="form_field"><%= label_tag(:last_name, "Last name") %>
	<%= f.text_field :last_name, placeholder: current_developer.last_name %></div>
	<div class="form_field"><%= label_tag(:tagline, "Tagline") %>
	<%= f.text_field :tagline, placeholder: current_developer.tagline %></div>
	<div class="form_field"><%= label_tag(:bio, "Bio") %>
	<%= f.text_area :bio, placeholder: current_developer.bio %></div>
	<div class="form_field"><%= label_tag(:zipcode, "Zipcode") %>
	<%= f.text_field :zipcode, placeholder: current_developer.zipcode %></div>
	<div class="form_field"><%= label_tag(:technologies, "Technologies") %>
	<%= f.text_field :zipcode, placeholder: current_developer.zipcode %></div>

	<!-- @TODO: display all technologies/topics in own checkboxes; add ability to edit with them filled out with current selections -->
	<%Technology.all.each do |technology| %>
		<%= f.check_box technology.name.to_sym %>
	<%end %>
	<!-- @TODO: display all technologies/topics in own checkboxes; add ability to edit with them filled out with current selections -->
	<div class="form_field"><%= label_tag(:topics, "Topics") %>
	<%= f.check_box :topics %></div>

	<%= f.submit %>
<% end %>




<% current_developer.first_name %>
<% current_developer.last_name %>
<% current_developer.last_name %>