<%= form_for(@developer) do |f| %>

	<section class='col-md-6'>
		<div class="form-field"><%= label_tag(:first_name, "First name") %>
		<%= f.text_field :first_name, placeholder: current_developer.first_name %></div>
		<div class="form-field"><%= label_tag(:last_name, "Last name") %>
		<%= f.text_field :last_name, placeholder: current_developer.last_name %></div>
		<div class="form-field"><%= label_tag(:tagline, "Tagline") %>
		<%= f.text_field :tagline, placeholder: current_developer.tagline %></div>
		<div class="form-field"><%= label_tag(:bio, "Bio") %></div>
		<div class="form-field"><%= f.text_area :bio, placeholder: current_developer.bio %></div>
		<div class="form-field"><%= label_tag(:zipcode, "Zipcode") %>
		<%= f.text_field :zipcode, placeholder: current_developer.zipcode %></div>
	</section>
	<section class='col-md-6'> <!-- Sets right-column for adding/deleting tags -->
		<section class='col-md-12'> <!-- Sets container for currently selected -->
			<% if @developer.technologies.any? %>
				<section class='selected-technologies col-md-6'>
					<h3>My technologies</h3>
					<% @developer.technologies.each do |technology| %>
						<p><figure class='tech tag'><%= technology.name %></figure>
						<%= link_to developer_technology_path(DeveloperTechnology.find_by(developer_id: @developer.id, technology_id: technology.id)), method: :delete do %>
							<%= image_tag 'minus.ico', class: "plus-minus" %></p>
						<% end %>
					<% end %>
				</section>
			<% end %>

			<% if @developer.topics.any? %>
				<section class='selected-topics col-md-6'>
					<h3>My topics</h3>
					<% @developer.topics.each do |topic| %>
						<p><figure class='topic tag'><%= topic.name %></figure>
						<%= link_to developer_topic_path(DeveloperTopic.find_by(developer_id: @developer.id, topic_id: topic.id)), method: :delete do %>
							<%= image_tag 'minus.ico', class: "plus-minus" %></p>
						<% end %>
					<% end %>
				</section>
			<% end %>
		</section>
		<section class='col-md-12'>
			<section class='col-md-6'>
				<h3>Add technologies</h3>
				<% if @unselected_tech.any? %>
					<% @unselected_tech.each do |tech| %>
					<p><figure class='tech tag'><%= tech.name %></figure>
					<%= image_tag 'plus.ico', class: "plus-minus", class: "plus-minus" %></p>
					<% end %>
				<% else %>
					<p>Oops! All available technologies selected.</p>
				<% end %>
			</section>
			<section class='col-md-6'>
			<h3>Add topics</h3>
			<% if @unselected_topics.any? %>
				<% @unselected_topics.each do |topic| %>
				<p><figure class='topic tag'><%= topic.name %></figure>
				<%= image_tag 'plus.ico', class: "plus-minus" %></p>
				<% end %>
			<% else %>
				<p>Oops! All available technologies selected.</p>
			<% end %>
			</section>
		</section>
	</section>

	<%= f.submit %>
<% end %>