<h1>All Developers</h1>

<% @developers.each do |dev| %>
  <div>
    <h3><%= dev.first_name %> <%= dev.last_name %></h3>
    <div><%= dev.tagline %></div>

    <div>
      <% if dev.topics.any? %>
        <h4>Topics:</h4>
        <% dev.topics.each do |topic| %>
          <%= topic.name %>,
        <% end %>
      <% end %>
    </div>

    <div>
      <% if dev.technologies.any? %>
        <h4>Technologies:</h4>
        <% dev.technologies.each do |technology| %>
          <%= technology.name %>,
        <% end %>
      <% end %>
    </div>

    <div>
      Member since <%= dev.created_at.strftime("%m/%d/%Y") %>
    </div>

    <%= link_to 'See more details', profile_developer_path(dev) %>
  </div>
<% end %>