<div>
  <h1>Welcome, <%= current_developer.first_name %></h1>
</div>
<div id="tabs">
  <ul>
    <li><a href="#current">Current Projects</a></li>
    <li><a href="#completed">Completed Projects</a></li>
    <li><a href="#profile">Profile</a></li>
    <li><a href="#requests">Requests</a></li>
    <li><a href="#conversations">Inbox</a></li>
  </ul>
  <div id="current">
   <%= render 'current' %>
  </div>
  <div id="completed">
   <%= render 'completed' %>
  </div>
  <div id="profile">
    <h1>My Profile</h1>
    <%= render "profile" %>
  </div>
  <div id="requests">
    <%= render "requests" %>
  </div>
  <div id="conversations">
    <%= render "conversations" %>
  </div>
</div>
