  <div class="project_details">
    <% @latest_three_projects.each do |project| %>
      <article>
        <%= link_to project_path(project) do %>
        <%= project.title %>, by
        <%= project.customer.first_name %>
        <%= project.customer.last_name %><br>
        <% if project.technologies.any? %>
          Technologies:
          <% project.technologies.each do |technology| %>
          <%= technology.name %>
          <% end %>
        <% end %>
        <% if project.topics.any? %>
          Topics:
          <% project.topics.each do |topic| %>
          <%= topic.name %>
          <% end %>
        <% end %>
          Created at:
        <%= project.created_at.strftime("%m/%d/%Y") %>
      </article><br>
    <% end %>
    <% end %>
    <%= link_to "See all projects", projects_path %>
  </div>
