<section class='cards'>
<% @latest_three_projects.each do |project| %>
  <article class='col-md-6 card flip'>
      <div class='front'>
        <%= image_tag project.customer.avatar_url %>
        <%= link_to project_path(project) do %>
          <p class='title'><%= project.title %></p>
        <% end %>
        <div class='text'>
          <%= link_to profile_customer_path(project.customer) do %>
            <p class='name'>By <%= project.customer.first_name %> <%= project.customer.last_name %></p>
          <% end %>
          <p class='date'>Created on <%= project.created_at.strftime("%m/%d/%Y") %></p>
          <% if project.technologies.any? %>
            <div class='tags'>
              <% project.technologies.each do |technology| %>
                <figure class='tech tag'><%= technology.name %></figure>
              <% end %>
            </div>
          <% end %>
          <% if project.topics.any? %>
            <div class='tags'>
              <% project.topics.each do |topic| %>
                <figure class='topic tag'><%= topic.name %></figure>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class='back'>
        <p class='body'><%= project.body %></p>
      </div>
  </article>
<% end %>
</section>