  <div class="project_details">
    <% @latest_three_projects.each do |project| %>
      <%= link_to project_path(project) do %>
        <article>
        <p class='title'><%= project.title %>, by <%= project.customer.first_name %> <%= project.customer.last_name %></p>
        <% if project.technologies.any? %>
          <span>Technologies:</span>
          <% project.technologies.each do |technology| %>
            <figure class='tag'><%= technology.name %></figure>
          <% end %>
        <% end %>
        <% if project.topics.any? %>
          <span>Topics:</span>
          <% project.topics.each do |topic| %>
            <figure class='tag'><%= topic.name %></figure>
          <% end %>
        <% end %>
          <p class='date'>Created at: <%= project.created_at.strftime("%m/%d/%Y") %></p>
      <% end %>
    </article>
    <% end %>
    <%= link_to "See all projects", projects_path %>
  </div>
