  <div class="developer_details">
    <% @latest_three_developers.each do |developer| %>
      <article>
        <%= image_tag "default-avatar.png" %>
        <%=  developer.first_name %>
        <%=  developer.last_name %><br>
        <% if developer.technologies.any? %>
          Technologies:
          <% developer.technologies.each do |technology| %>
          <%= technology.name %>,
          <% end %>
        <% end %>
        <% if developer.topics.any? %>
          Topics:
          <% developer.topics.each do |topic| %>
          <%= topic.name %>,
          <% end %>
        <% end %>
          Member since:
        <%= developer.created_at.strftime("%m/%d/%Y") %>
      </article><br>
    <% end %>
  </div>
