<section class='cards'>
<% @latest_three_developers.each do |developer| %>
  <div class='col-md-6 card'>
    <%= image_tag developer.avatar_url %>
    <%= link_to profile_developer_path(developer) do %>
      <p class='card-image-title'><%= developer.first_name %> <%= developer.last_name %></p>
    <% end %>
    <div class='text'>
      <p class='tagline'><%= developer.tagline %></p>
      <p class='date'>Member since <%= developer.created_at.strftime("%m/%d/%Y") %></p>
      <% if developer.technologies.any? %>
        <div class='tags'>
          <% developer.technologies.each do |technology| %>
            <figure class='tech tag'><%= technology.name %></figure>
          <% end %>
        </div>
      <% end %>
      <% if developer.topics.any? %>
        <div class='tags'>
          <% developer.topics.each do |topic| %>
            <figure class='topic tag'><%= topic.name %></figure>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
</section>