<html>
<head>
  <title>Meet The Need</title>
</head>
<body>
  <% if current_customer == nil && current_developer == nil %>
    <div class='col-md-12'>
      <!-- group image testing... -->
      <div class="group-image">
        <div id="messaging">
          <p>Meet junior developers and people with dreams.</p>
        </div>
      </div>
    </div>
  <% end %>
  <header>
      <%= form_tag("homepage/search", method: "get", class: "search") do %>
        <%= text_field_tag(:search, nil, placeholder: "Enter your search" ) %>
        <%= image_submit_tag("magnifying_glass.svg") %>
      <% end %>
    <!-- <button id="advanced">Advanced Search</button> -->

  </header>
  <main>
    <div class='col-md-12 latest'>
      <div class="col-md-6">
        <h2> Latest Projects </h2>
        <%= render "customer_partial" %>
      </div>
      <div class="col-md-6">
        <h2> Developers </h2>
        <%= render "dev_partial" %>
      </div>
    </div>
    <div class='col-md-12'>
      <div class='col-md-6'>
        <p class='green-button see-all'><%= link_to "See all projects", projects_path %></p>
      </div>
      <div class='col-md-6'>
        <p class='green-button see-all'><%= link_to "See all developers", developers_path %></p>
      </div>
    </div>
  </main>
</body>
</html>

