<html>
<head>
  <title>Homepage</title>
</head>
<body>
  <!-- @TODO: add our avatars for devs and Julian + Masha for customers -->
  <header>
    <%= form_tag("homepage/search", method: "get") do %>
      <%= text_field_tag(:search, nil, placeholder: "Enter your search" ) %>
      <%= submit_tag("Search") %>
    <% end %>
    <button>Advanced Search</button>
  </header>
  <main>
    <div class="left-column">
      <h2> Latest Projects </h2>
      <%= render "customer_partial" %>
      <p class="see-all"><%= link_to "See all projects", projects_path %></p>
    </div>
    <div class="right-column">
      <h2> Developers </h2>
      <%= render "dev_partial" %>
      <p class="see-all"><%= link_to "See all developers", developers_path %></p>
    </div>
  </main>
</body>
</html>

