  <div class="project_details">
    <% if @search_results.any? %>
      <% @search_results.each do |project| %>
        <%= link_to(project) do %>
        <article>
          <%= project.title %>, by
          <%= project.customer.first_name %>
          <%= project.customer.last_name %><br>
          <% if project.technologies.any? %>
            Technologies:
            <% project.technologies.each do |technology| %>
            <%= technology.name %>
            <% end %>
          <% end %>
          <% if project.topics.any? %>
            Topics:
            <% project.topics.each do |topic| %>
            <%= topic.name %>
            <% end %>
          <% end %>
            Created at:
          <%= project.created_at.strftime("%m/%d/%Y") %>
        </article><br>
        <% end %>
      <% end %>
    <% else %>
      No results!
    <% end %>
  </div>
