  <div class="project_details">
    <h1>Project Search Results</h1>
    <% if @project_search_results.any? %>
        <% @project_search_results.each do |project| %>
          <%= link_to(project) do %>
          <article>
            <div class="image"><img src="./default-avatar.png"></div>
            <%= project.title %>, by
            <%= project.customer.first_name %>
            <%= project.customer.last_name %><br>
            <% if project.technologies.any? %>
              Technologies:
              <% project.technologies.each do |technology| %>
              <%= technology.name %>
              <% end %>
            <% end %>
            <% if project.topics.any? %>
              Topics:
              <% project.topics.each do |topic| %>
              <%= topic.name %>
              <% end %>
            <% end %>
              Created at:
            <%= project.created_at.strftime("%m/%d/%Y") %>
          </article><br>
          <% end %>
        <% end %>
    <% else %>
      No results!
    <% end %>
    <h1>Developer Search Results</h1>
    <% if @developer_search_results.any? %>
      <% @developer_search_results.each do |developer| %>
        <article>
          <div class="image"><img src="./default-avatar.png"></div>
          <%= developer.first_name %>
          <%= developer.last_name %><br>
        </article>
      <% end %>
    <% end %>
  </div>
