<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <% end %>

<%= form_for @project, url: {action: "create"} do |f| %>
  <div class='form-field'>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class='form-field'>
    <%= f.label :description %>
    <%= f.text_area :body %>
  </div>
  <div class='form-field'>
    <%= f.label :cost %>
    <%= f.text_field :cost %>
  </div>
  <div>
    <%= f.fields_for :topics do |topic_form| %>
      <%= f.label :topics %>
      <%= topic_form.text_field :name %>
    <% end %>
  </div>
  <div>
    <%= f.fields_for :technologies do |technology_form| %>
      <%= f.label :technologies %>
      <%= technology_form.text_field :name %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit "Create project", class: "green-button" %>
  </div>
<% end %>

