<h1>All Projects</h1>

<% @projects.each do |project| %>
  <div>
    <h3><%= project.title %></h3>

    <div>
      <% if project.topics.any? %>
        <h4>Topics:</h4>
        <% project.topics.each do |topic| %>
          <%= topic.name %>,
        <% end %>
      <% end %>
    </div>

    <div>
      <% if project.technologies.any? %>
        <h4>Technologies:</h4>
        <% project.technologies.each do |technology| %>
          <%= technology.name %>,
        <% end %>
      <% end %>
    </div>

    <div>
      Posted on <%= project.created_at.strftime("%m/%d/%Y") %>
    </div>

    <%= link_to 'See more details', project_path(project) %>
  </div>
<% end %>